<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.qiu.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <!-- 不使用MyDateHandler-->
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
<!--        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>-->

        <!-- 使用MyDateHandler-->
        <result column="modify_time" typeHandler="com.qiu.util.MyDateHandler" property="modifyTime"/>
    </resultMap>


    <!-- 批量查询接口 -->
    <select id="selectUsers" resultMap="BaseResultMap">
        select * from mybatis.user;
    </select>

    <!-- 查询接口 -->
    <select id="selectUser" parameterType="int" resultMap="BaseResultMap">
        select * from mybatis.user where id=#{id};
    </select>

    <!-- 查询接口ByMap -->
    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from mybatis.user where id=#{id} and name=#{name};
    </select>

    <!-- 查询接口ByMap -->
    <select id="selectUserLike" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from mybatis.user where  name like '%'  #{name} '%';
    </select>
    <!--    &lt;!&ndash; del接口 &ndash;&gt;-->
    <!--    <select id="delUser" parameterType="int" >-->
    <!--        delete from mybatis.user where id=#{id} ;-->
    <!--    </select>-->
    <!-- add接口 -->
    <insert id="addUser" parameterType="User" useGeneratedKeys="true">  /*useGeneratedKeys="true"使用自增id*/
        insert into mybatis.user values(#{id},#{name},#{pwd},#{createTime},#{modifyTime})
    </insert>
    <!-- update接口 -->
    <update id="updateUser" parameterType="User" flushCache="true">
        update mybatis.user set name=#{name}, pwd=#{pwd} ,create_time=#{createTime}, modify_time=#{modifyTime} where id=#{id}
    </update>
</mapper>